test.goris.live {
    respond "it works"
}

goddle.goris.live {
    handle /signal {
        reverse_proxy signaling:3000
    }
    handle {
        root * /home/debian/gobble/www
        file_server
        encode gzip zstd
        try_files {path} /index.html
    }
}

goris.live {
    root * /home/debian/goris.live
    file_server
    encode gzip zstd

    log {
        output file /var/log/caddy/access.log
    }
}
