# Name.com : goris.live - 
test.goris.live {
    respond "it works"
}

goddle.goris.live {
    redir https://goddle.xyz permanent
}

monitor.goris.live {
    handle {
        reverse_proxy uptime-kuma:3001
    }
}

blog.goris.live {
    root * /home/debian/blog
    file_server
    encode gzip zstd
}

goris.live {
    root * /home/debian/goris.live
    file_server
    encode gzip zstd

    log {
        output file /var/log/caddy/access.log
    }
}

# Porkbun : goddle.xyz
goddle.xyz {
    handle /signal {
        reverse_proxy signaling:3000
    }
    handle {
        root * /home/debian/gobble/www
        file_server
        encode gzip zstd
        try_files {path} /index.html
    }
}